@import "../../styles/colors.scss";

.Input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &--title{
        margin-top: 10%;
        color: $yellow;
    }

    &--body {
        width: 115%;
        padding: 1em;
        margin: auto;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid $yellow;
        
        &__text {

        }
        &__password {

        }
        &__email {
            
        }
    }

    &--footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__error{
            margin: auto;
            padding: 0.5em;
            text-align: center;
            font-style: italic;
            color: red;
        }
    }
}