@import '../../styles/colors.scss';

.Contacto {
    width: 100vw;
    height: 100vh;
    background: #f1f1f3;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__top{
        margin-bottom: 40px;
        pointer-events: none;
    user-select: none;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        &__title {
            font-size: 20px;
            color: $blue;
            margin-bottom: 40px;
        }

        &__items {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;

            &__item {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                margin: 0 40px;

                &__img {
                    width: 120px;
                    height: 120px;
                    border-radius: 120px;
                    background: $yellow;
                    margin-bottom: 20px;
                }

                &__name {
                    font-size: 18px;
                    font-weight: bolder;
                    color: $yellow;
                }
            }
        }

        &__text {
            font-size: 20px;
            color: $black;
        }
    }
}