@import '../../styles/colors.scss';

.Home{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #f1f1f3;

    &__white{
        background: $white;
        width:25vw;
        height: 100%;

        display: flex;
        align-items: flex-end;

        &__icons{
            width: 100%;
            margin-bottom: 50px;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: flex-end;
            align-items: center;
            
            &__icon{
                display: block;
                font-size: 20px;
                color: $yellow;
                margin: 0 5px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 50px;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                transition: all .4s;
                text-decoration: none;
            }

            &__icon:hover{
                background: $yellow;
                color: $white
            }
        }
    }

    &__yellow{
        background: $yellow;
        width:75vw;
        height: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        &__title{
            font-weight: normal;
            color: $white;
            font-size: 70px;
            margin-left: 20vw;

            strong{
                color: $blue;
                font-weight: normal;

            }
        }

    }

    &__img{
        position: absolute;
        left: 13vw;
        bottom: 0;
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);

        img{
            width: 30vw;
            min-width: 400px;
        }
    }

    &__chat{
        position: absolute;
        bottom: 50px;
        right: 50px;
        background: $blue;
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 50px;
        transition: all .4;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        transition: all.4s;

        &__icon{
            font-size: 25px;
            color: $white;
            transition: all.4s;

        }
    }

    &__chat:hover{
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
        background: $white;
        .Home__chat__icon{
            color: $blue;
        }
    }
}