@import '../../styles/colors.scss';

.Producto{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    
    &__img{
        position: relative;
        width: 40%;
        margin-right: 100px;
        z-index: 0;
        
        &__imagen{
            
            img{
                width: 100%;
            }
        }
    }
    
    &__texto{
        width: 25%;
        z-index: 1;
        position: relative;
        left: -8%;
        
        &__titulo{
            color: $blue;
            font-size: 30px;
        }
        
        &__linea{
            width: 40%;
            height: 4px;
            background: $blue;
            margin: 15px 0;
        }
        &__description{
            width: 100%;
            text-align: justify;
            margin-bottom: 15px;
            letter-spacing: 1pt;
            line-height: 21px;
        }
        
        &__users{
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        
        &__comments{
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center; 
            color: $yellow;
            text-decoration: none;
            
            &:hover {
                letter-spacing: 1pt;
                color: $blue;
                text-decoration: underline;
                transform: scaleX(1);
                transition: .25s all ease-in-out;
            }
            
            
            &__comment{
                text-align: center;
                
            }
        }
        
        &__likes{
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            
            &__icon{
                color: red;
            }
            
            &__num{
                margin-left: 10px;
            }
        }
        
        &__btn{
            margin: auto;
            width: 80%;
            
            button{
                width: 100%;
                border: 2px solid $yellow;
                background: $yellow;
                margin: 1em;
                cursor: pointer;
                padding: 0.5em;
                color: $white;
                font-weight: bolder;
                font-size: 15px;
                letter-spacing: 1px;
                transition: all .4s;
            }
            
            button:hover{
                background: $white;
                color: $yellow;
            }
        }
    }
}