@import '../../styles/colors.scss';
.Nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    z-index: 20;

    &__Logo{
        padding-left: 20px; 
        width: 120px;
        a{
            text-decoration: none;
            font-weight: bolder;
            font-size: 20px;
            color: $yellow;
            transition: all .4s;

            img{
                width: 100%;
            }
        }
    }

    &__icons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        a{
            text-decoration: none;
            
            svg{
                cursor: pointer;
                fill: $black;
                stroke: $black;
                transition: all .4s
            }

        }

        svg:hover{
            fill: $white;
            stroke: $white;
        }

        &__bar{
            color: $black;
            transition: all .4s;
            font-size: 20px;
            margin: 0 20px;
        }

        &__bar:hover{
            color: $white;
        }


    }
}

.Nav-menu{
    .Nav__Logo{
        a{
            color: $yellow;
        }

        a:hover{
            color: $white;
        }
    }

    .Nav__icons{
        svg{
            fill: $yellow;
            stroke: $yellow;
        }

        svg:hover{
            fill: $white;
            stroke: $white;
        }

        .Nav__icons__bar{
            color: $yellow;
        }

        .Nav__icons__bar:hover{
            color: $white;
        }


    }
}